
@{
    ViewBag.Title = "Admin Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Blank</h1>
        lkkl
       
    </div>
    
</div>
